html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #FFD637;
    font-family: 'Open Sans', sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

main {
    padding: 85px 0;
}


@media only screen and (min-width: 320px) {
    #map-canvas {
        height: 20em;
    }
    .day {
        height: 20em;
    }
    .day-body {
        height: 13.8em;
        overflow-y: scroll;
        overflow-x: visible;
        
    }
    .mobilemargin {
        padding-left:0;
        padding-right:0;
    }
    fieldset{
        border-radius: 0px;
    }
    .checkbox:first-child {
    margin-top: -5px;
}
     .horizline{
        width: 500px;
    }
}

@media only screen and (min-width: 768px) {
    #map-canvas {
        height: 25em;
    }
    .day {
        height: 25em;
    }
    .day-body {
        height: 18.8em;
        overflow-y: scroll;
          overflow-x: visible;
    }
    .mobilemargin {
        padding-left: 10px;
        padding-right: 15px;
    }
    fieldset{
        border-radius: 10px;
    }
    .checkbox:first-child {
    margin-top: 0px;
    }
    .horizline{
        width: 185px;
    }
    .panel-body .col-xs-3{
        padding-right: 0px;
    }
}

@media only screen and (min-width: 992px) {
    #map-canvas {
        height: 35em;
        width: 690px;
    }
    .day {
        height: 488px;
        border: none;
        border-radius: 0px;
        
    }
    .day-body {
        height: 450px;
        overflow-y: auto;
          overflow-x: visible;
        padding-left: 22px;
        padding-right: 0px;
    }
    .mobilemargin {
        padding-left: 10px;
        padding-right: 15px;
    }
    fieldset{
        border-radius: 10px;
    }
    .checkbox:first-child {
    margin-top: 0px;
    }
    .horizline{
        width: 200px;
    }
    .panel-body .col-xs-3{
        padding-right: 5px;
    }
}

@media only screen and (min-width: 1200px){
    .horizline{
        width: 195px;
    }
    .line {
        margin-right: 0px;;
        padding-right: 0px;
    }
    .panel-body .col-xs-3{
        padding-right: 15px;
    }

    .panel-body .col-xs-9{
        padding-right: 0px;
    }
}


fieldset {
    border: 1px solid transparent;
    margin: -5px 0;
    background-color: #00a79d;
    padding: 10px;
}

label,
input[type=checkbox] {
    margin: 20px 0;
	color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.checkbox label::before {
    position: relative;
    width: 27px;
    height: 27px;
    margin-bottom: -4px;
    margin-right: 15px;
}

.checkbox label:after {
    font-size: 0.9em;
    padding-right: 5px;
    padding-top: 2px;
}

fieldset .checkbox label {
    padding-left: 0;
    font-size: 1.7em;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #00655E;
    color: white;
    padding-top: 10px;
	padding-bottom: 10px;
}

.footer h6{
	margin-left: -30px;
}

btn {
    padding: 14px 24px;
    border: 0 none;
    font-family: inherit;
    font-size: 2.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #00a79d;
    color: #ffffff;
}

.btn-lg {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 150px;
    border: 0 none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #29ADA3;
}

.btn-primary:active,
.btn-primary.active {
    background: #007E75;
    box-shadow: none;
}

#question {
    margin-top: 30px;
    font-size: 2em;
    color: #CDA300;
}

.img-rounded {
    height: 50px;
    width: 95px;
}

.startpage {
    padding: inherit;
    margin-top: 25px;
}

#startbutton {
    margin-top: 40px;
    margin-bottom: 90px;
}

.description {
    background-color: #00a79d;
    padding: 0px;
}

p {
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

p.about { 
	padding-top: 0px;
    padding-bottom: 0px;
}

div#about { 
	margin-top:60px;
	margin-bottom:60px;
}


ul.nav {
    margin-bottom: 0 !important;
}


.tab-content {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
        height: 600px;
}

.tab-pane {
    margin: 30px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    background-color: white;
}

.nav-tabs>li>a:hover {
    background-color: #66CAC3;
}

.nav-tabs>li>a {
    background-color: #00a79d;
    color: white;
    border-color: white;
}

#act {
    margin-top: 0px;
}

.list-group-item {
    margin: 0px;
    border-color: transparent;
    border-bottom-color: grey;
    border-bottom-width: 3px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
}



.panel-default>.panel-heading {
    background-color: #00a79d;
    background-image: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
}
.panel-default>.panel-footer{
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.nav-justified>li>a {
    font-size: 1.5em;
    font-weight: bold;
}

.centerText {
    text-align: center;
}

.glyphicon.bigger {
    font-size: 75px;
}

.glyphicon.smaller {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 5px;
    float: right;
}

.extraP {
    padding: 5%;
    margin-top: 2%;
}


.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
    padding: 10px
}

.fa
{
    margin-left: 5px;
    margin-top: 0;
       color: #00655E;
}

.clickable {
    background-color: white;
    display: inline-block;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.item {
    overflow-y: hidden;
    overflow-x: hidden;
    height: inherit;
    min-height: 62px;
    color: white;
    font-size: 20px;
   /*  padding-left: 10px; */
    padding-bottom: 7px;
    padding-right: 0px;
    margin: 0px;

}

.panel-primary {
     background-color: #00655E;
    border: none;
    border-radius: 15px;
}

.item h3 {
    margin:0;
    margin-top: -10px;
}

.item_description {
    padding: 0;
    padding-right: 25px;
    margin: 0;
}

#draggablePanelList .panel-body h3 {
        cursor: move;
    }

.item>p>a{
    color: #68D7CF;
    font-weight: bold;
}

.panel-footer>span {
   cursor: pointer;

}


.line {
    width: 0.5em;
    height: 100%;
    background-color: dimgray;
    float: right;
    
}

#line {
    margin-left: 10px;
    
}

.dot {
    border-radius: 50%;
    border-style: solid;
	width: 18px;
	height: 18px;
    border-color: dimgray;
    background-color: white;
    margin-bottom: 7em;
    padding: 0px;
    margin-left: -5px;
}

.dot>span {
    margin-left: -43px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-top: -4px;
    color: dimgray;
}

.horizline {
    height: 2px;
    background-color: dimgray;
    margin-top: 5px;
    margin-left: 12px;
    position: absolute;
}

.rest-item {
    margin: 0px;
    margin-left: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 1.4em;
    color: dimgray;
}

.checkbox .rest-item::before {
    position: relative;
    width: 23px;
    height: 23px;
    margin-bottom: -4px;
    margin-right: 10px;
    margin-left: -23px;
}

.checkbox .rest-item:after {
    font-size: 0.9em;
    padding-top: 2px;
    padding-left: 4.5px;
}

.rest-item>span{
    color: gray;
	font-size: 14px;
	padding-left: 13px;
}

.item-line {
    width: 100%;
    height: 2px;
    background-color: dimgray;
}

ul li{
    z-index: 200;
}

.placeholder {
    height: 10em;
    background-color: #FFD637;
    opacity: 0.7;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.panel-group {
    width:520px;
    height: 600px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
.panel-heading .heading-vertical {
    width: 370px;
}
.title-vertical {
    height:18px;
}
.panel-title a {
    float:right;
    text-decoration:none;
    padding: 10px;
    margin: -10px;
}
.body-vertical {
    height:271px;
    padding-left: 0px;
}

.panel-group .lala{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: right top;
}
.panel-group .panel .lala {
    margin-left:488px;
    margin-top:255px;
    width: 270px;
}

.modal-body form label{
    color: black;
        margin-bottom: 5px;
}

form .form-group input{
    width: 100%;
    height: 2.2em;

}

.modal, .modal-body, .modal-content{
    width: 350px;
}

.modal-body{
padding: 10px;
}

form {      
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.personal-time {
    padding-left: 0px;
}

#item-name, #item-address{
   border-radius: 4px; 
    border-width: 1px;
    border-color: #D2D2D2;
    border-style:solid;
    
}

#myModal {
    margin-left: auto;
    margin-right: auto;
      margin-top: 50px;
}

#myModalLabel {
    font-weight: bold;
    color: white;
    margin-left: 4px;
}

#myModal label{
    color: #404040;
}

.modal-header {
    padding: 10px;
    background-color: #00a79d;
        border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-footer {
    background: rgba(0, 0, 0, 0.4);
        padding: 10px;
}

.item h3{
    font-size: 16px;
    font-weight: bold;
        margin-bottom: 3px;
     margin-right: 30px;
}

.item p{
    font-size: 12px;
    opacity: 0.9;
   margin-right: 10px;
   padding: 0px;
   line-height: 15px;
   width: 110px;

}


.pull-right {
    position: absolute;
    margin-left: 131px;
}

#food-type{
font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 6px;
}

.list-group {
      overflow-y: scroll;
        height: 450px;
    border: solid 1px;
    border-color: #C0C0C0;

}

.list-group input {
      margin-bottom: 10px;
}



#ag {
    font-size: 28px;
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#draggablePanelList {
    padding-left: 0px;
}

#lastmap {
    margin-bottom: 100px;
}

#icon {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
}

.list-unstyled{
	
	min-height: 440px;
}

#notfood {
    height: 505px;
}


#updaterout{
	position: absolute;
	margin-top: -60px;
	margin-left: 525px;
	font-size: 20px;
	font-weight: bold;
	background-color: #00655E;
	color: white;
	
}

.slider {
  margin: 10px 0;
  width: 100%; /* Update to your slider width */
  height: 100%; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

#pdf #ag{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -50px;
	margin-bottom: 50px;
}

#register-form input[type=text]{
	height: 35px;
	font-size: 15px;
}

#register-form .form-group label{
	font-size: 18px;
	padding-right: 7px;
}

#register-form .form-group{
padding-left: 0px;
padding-right: 0px;
}

#register-form .row{
padding-left: 25px;
}

#from, #to{
	width: 125px;
}

	
#location{
	width: 285px;
}

#register-form .checkbox{
	padding-left: 10px;
}

.pad-registration { 
	padding-top:20px;
}