html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 40px;
    background-color: #FFD637;
    font-family: 'Open Sans', sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

main {
    padding: 85px 0;
}

@media only screen and (min-width: 320px) {
    #map-canvas {
        height: 20em;
        border-radius: 0px;
    }
    .panel-default {
        height: 20em;
        border-radius: 0px;
    }
    .panel-body {
        height: 13.8em;
        overflow-y: scroll;
        border-radius: 0px;
    }
    .panel-heading{
        border-radius: 0px;
    }
    .panel-footer{
        border-radius: 0px;
    }
    .mobilemargin {
        padding-left:0;
        padding-right:0;
    }
    fieldset{
        border-radius: 0px;
    }
    .checkbox:first-child {
    margin-top: -5px;
}
}

@media only screen and (min-width: 768px) {
    #map-canvas {
        height: 25em;
        border-radius: 10px;
    }
    .panel-default {
        height: 25em;
        border-radius: 10px;
    }
    .panel-body {
        height: 18.8em;
        overflow-y: scroll;
        border-radius: 10px;
    }
    .panel-heading{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .panel-footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .mobilemargin {
        padding-left: 10px;
        padding-right: 15px;
    }
    fieldset{
        border-radius: 10px;
    }
    .checkbox:first-child {
    margin-top: 0px;
}
}

@media only screen and (min-width: 992px) {
    #map-canvas {
        height: 35em;
        border-radius: 10px;
    }
    .panel-default {
        height: 35em;
        border-radius: 10px;
        
    }
    .panel-body {
        height: 28.8em;
        overflow-y: auto;
        border-radius: 10px;
    }
    .panel-heading{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .panel-footer{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .mobilemargin {
        padding-left: 10px;
        padding-right: 15px;
    }
    fieldset{
        border-radius: 10px;
    }
    .checkbox:first-child {
    margin-top: 0px;
}
}


fieldset {
    border: 1px solid transparent;
    margin: -5px 0;
    background-color: #00a79d;
    padding: 10px;
}

label,
input[type=checkbox] {
    margin: 15px 0;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.checkbox label::before {
    position: relative;
    width: 27px;
    height: 27px;
    margin-bottom: -4px;
}

.checkbox label:after {
    font-size: 0.9em;
    padding-right: 5px;
    padding-top: 2px;
}

.checkbox label {
    padding-left: 0;
    font-size: 1.7em;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #00655E;
    color: white;
    text-align: center;
    padding: inherit;
}

#date {
    max-width: 12em;
}

#time {
    max-width: 8em;
}

btn {
    padding: 14px 24px;
    border: 0 none;
    font-family: inherit;
    font-size: 2.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #00a79d;
    color: #ffffff;
}

.btn-lg {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 0px;
    border: 0 none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #29ADA3;
}

.btn-primary:active,
.btn-primary.active {
    background: #007E75;
    box-shadow: none;
}

#question {
    margin-top: 30px;
    font-size: 2em;
    color: #CDA300;
}

.img-rounded {
    height: 50px;
    width: 95px;
}

.startpage {
    padding: inherit;
    margin-top: 25px;
}

#startbutton {
    margin-top: 40px;
    margin-bottom: 90px;
}

.description {
    background-color: #00a79d;
    padding: 0px;
}

p {
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

ul.nav {
    margin-bottom: 0 !important;
}

#red {
    background-color: red;
}

.tab-content {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab-pane {
    margin: 30px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    background-color: white;
}

.nav-tabs>li>a:hover {
    background-color: #66CAC3;
}

.nav-tabs>li>a {
    background-color: #00a79d;
    color: white;
    border-color: white;
}

#act {
    margin-top: 30px;
}

.list-group-item {
    margin: 0px;
    border-color: transparent;
    border-bottom-color: grey;
    border-bottom-width: 3px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
}



.panel-default>.panel-heading {
    background-color: #00a79d;
    background-image: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
}
.panel-default>.panel-footer{
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.nav-justified>li>a {
    font-size: 1.5em;
    font-weight: bold;
}

.centerText {
    text-align: center;
}

.glyphicon.bigger {
    font-size: 75px;
}

.glyphicon.smaller {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 5px;
    float: right;
}

.extraP {
    padding: 5%;
    margin-top: 5%;
}


.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
    padding: 10px;
}

.fa
{
    margin-left: 5px;
    margin-top: 0;
       color: #00655E;
}

.clickable {
    background-color: white;
    display: inline-block;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.item {
    overflow-y: hidden;
    overflow-x: hidden;
    height: inherit;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 7px;
}

.panel-primary {
     background-color: #00655E;
    border: none;
    border-radius: 15px;
}

.item h3 {
    margin:0;
    margin-top: -10px;
}

.item_description {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#draggablePanelList .panel-body h3 {
        cursor: move;
    }

.item>p>a{
    color: #68D7CF;
    font-weight: bold;
}

.panel-footer>span {
   cursor: pointer;

}


.line {
    width: 0.5em;
    height: 100%;
    background-color: dimgray;
    float: right;
    
}

.dot {
    border-radius: 50%;
    border-style: solid;
	width: 18px;
	height: 18px;
    border-color: dimgray;
    background-color: white;
    margin-bottom: 7em;
    padding: 0px;
    margin-left: -5px;
}

.dot>span {
    margin-left: -55px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    margin-top: -6px;
    color: dimgray;
}

.horizline {
    width: 250px;
    height: 2px;
    background-color: dimgray;
    margin-top: 5px;
    margin-left: 12px;
    position: absolute;
}
