body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

div.calendarForm
{
    font-size: 10px;
}

div.calendarForm div.label, div.calendarForm label, div.calendarForm td
{
    padding: 2px 0px;
    font-size: 11px;
    color: #999;
}

div.calendarForm input.calInput, div.calendarForm textarea, div.calendarForm select
{
    font-size: 11px;
    padding: 2px;
    border: 1px solid #ccc;
    border-color: #333 #ccc #ccc #333;
}

div#menu
{
    height: 40px;
    border-bottom: 2px solid #fff;
}

div#menu input
{
    padding-left: 36px;
    background: #fff url(../images/search.gif) 0px -4px no-repeat
} .leftNavGroupsList
{
    background: none;
}

div#menu, .weekrow th, .navHeader th, .navHeaderRow th
{
    background: url("../images/dark-bg.gif") repeat-x;
}

div#menu
{
    background: #fff url("../images/dark-bg.gif") 0px 12px repeat-x;
} .leftNavGroupsList .header, .weekrow th, .navHeader th, .navHeaderRow th
{
    background-color: #4D4D4E;
}

div#menu ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
}

div#menu li
{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
}

div#menu li a, #menu li span.separator
{
    height: 40px;
    display: block;
    float: left;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
}

div#menu li span
{
    display: block;
}

div#menu li span
{
    background-repeat: no-repeat;
    background-position: 95% 0px;
}

div#menu li a.current
{
    color: #aa1428;
}

div#menu a:hover, div#menu span.separator:hover, div#menu span.sfhover, div#menu a.current:hover
{
    color: #aa1428;
}

div#menu li.active
{
    font-weight: bold;
}

div#menu li.level1
{
    margin-right: 5px;
}

div#menu a.level1 span, div#menu span.level1 span
{
    padding: 0px 15px 0px 15px;
}

div#menu li.level1:hover, div#menu li.sfhover
{
    background: #888;
}

div#menu li.sfhover li.sfhover
{
    background: none;
}

div#menu li:hover a.level1, div#menu li.sfhover a.level1, div#menu li:hover span.level1, div#menu li.sfhover span.level1
{
    background: #888;
}

div#menu li.active
{
    background: #ccc;
}

div#menu a.active, div#menu span.active
{
    background: #ccc;
}

div#menu li.active li
{
    background: none;
}

div#menu li li a.active
{
    background: none;
}

div#menu li a.level1, #menu li span.level1
{
    color: #ffffff;
}

div#menu li.active a.level1, #menu li.active span.level1
{
    line-height: 43px;
    color: #000000;
}

div#menu li:hover a.level1, #menu li:hover span.level1, div#menu li.sfhover a.level1, #menu li.sfhover span.level1
{
    line-height: 43px;
    color: #000000;
}

div#menu li.level1 a:hover.level1, #menu li.level1 span:hover.level1, #menu li.level1 span.sfhover span
{
    color: #aa1428;
}

div#menu li:hover ul, div#menu li.sfhover ul
{
    left: 0px;
    z-index: 100;
}

div#menu li.level1 li
{
    width: 100%;
    text-indent: 15px;
}

div#menu li.level1 li a, div#menu li.level1 li span.separator
{
    height: 25px;
    padding: 0px;
    margin: 0px 1px 0px 1px;;
    float: none;
    display: block;
    line-height: 25px;
} #calendarContainer
{
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
    clear: both;
} #calendarContainer .content
{
    padding-right: 180px;
    padding-left: 0px;
} .minicalContainer
{
    padding-right: 2px !important;
    padding-left: 0px !important;
} .ssminical
{
    margin-right: 2px !important;
    margin-left: 0px !important;
} #calendarContainer .leftNav
{
    position: absolute;
    bottom: 10px;
    right: 0px !important;
    left: auto !important;
} #calendarContainer .topnavContainer
{
    height: 25px;
    color: #fff !important;
} #calendarContainer .topnavContainer a
{
    color: #fff !important;
} #calendarContainer .topnavContainer a:hover
{
    color: #fff !important;
    background-color: #ccc !important;
} #calendarContainer .topnavContainer a.current:hover
{
    color: #fff !important;
    background-color: #fff !important;
} #calendarContainer .topnavContainer #calNavData li a.current
{
    background-color: #fff;
    color: #333 !important;
} #calendarContainer .topnavContainer #calNavData li a
{
    background-color: transparent;
} #mailContents
{
}

div.nextButton
{
    background: url("../images/right2.gif");
    background-position: 0px 3px;
    height: 19px;
    width: 19px;
    background-repeat: no-repeat;
}

div.prevButton
{
    background: url("../images/left2.gif");
    background-position: 2px 3px;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
}

div.calendarInfo a
{
    color: #00417b;
    font-weight: normal;
    text-decoration: none;
}

div.calendarInfo a:hover
{
    color: #00417b;
    font-weight: normal;
    text-decoration: underline;
}

div.calendarInfo
{
    color: #00417b;
    font-weight: bold;
    top: 3px;
    position: relative;
    margin-right: 20px;
}

div.calendarInfo ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div.calendarInfo ul li
{
    float: left;
    margin: 0px 10px;
}

div.maillogo
{
    background: url("../images/mail_48.png") 1px 0px no-repeat;
    width: 350px !important;
    height: 50px;
    padding-left: 50px;
    padding-top: 6px;
    font-weight: bold;
    color: #D40000;
    float: left;
    font-size: 1.6em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

div.calStatus .calStatusHeader, .timeTxt:hover, .timeTxtover, .minicalContainer, #calendarContainer .topnavContainer, .plotterContent, #calNavData li a.current, .monthAllEventsContainer .header
{
    background-color: #7F7F7F;
}

div.calNavGoNext
{
    background-position: -20px -217px;
    background-repeat: no-repeat;
}

div.calNavGoPrev
{
    background-position: -4px -217px;
    background-repeat: no-repeat;
}